.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}  

.btn-fmr{
    background-color:  #990033;
    color: white;
    font-weight: bold;
}

#icon {
    padding-top: 20px;
    padding-bottom: 20px;
}