.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}  

#detailsCard{
    display: inline-block; 
    margin: 0 auto; 
}

#bodyDetails{
    max-width: 400px;
}

.btn-fmr{
    background-color:  #990033;
    color: white;
    font-weight: bold;
}

.card-img-top:hover, .custom-control-input:hover{
    cursor: pointer;
}

#icon {
    padding-top: 20px;
    padding-bottom: 20px;
}   